.Button {
  all: unset;
  padding: 0.5em 0.4em;
  font-size: inherit;
  text-align: center;
  color: white;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:focus,
  &:active {
    scale: 0.975;
  }

  &.primary {
    --bg-color: blue;
  }

  &.white {
    --bg-color: white;
    color: blue;
    border: 1px solid currentColor;
  }

  &.danger {
    --bg-color: red;
  }
}