.App {
  height: 100%;
  display: grid;
  grid-template-areas:
    "h h h"
    "a m b"
  ;
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);

  header {
    grid-area: h;
  }

  main {
    grid-area: m;
  }

  aside {
    overflow: hidden;
  }
}

#left-sidebar {
  grid-area: a;
  width: var(--sidebar-width);
  transition: width 200ms ease-in-out;

  &.collapsed {
    width: 48px;
    pointer-events: none;
  }
}

#right-sidebar {
  grid-area: b;
}