.Sidebar {
  display: flex;
  flex-direction: column;
  background-color: limegreen;
  color: white;

  a {
    color: inherit;
  }
}

.Left {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}