.Header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1em;
  padding: 0.5em;
  box-shadow: 0 -1px 2px inset #2a2a2a;

  section {
    text-align: center;
    align-content: center;
  }
}

.Center {
  input {
    width: min(800px, 100%);
    height: 100%;
    padding: 0.25em 0.5em;
  }
}

.Right {
  display: flex;
  gap: 0.25em;
}